<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CV</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/fancybox/dist/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="../../assets/lib/imagehover.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-0 fixed-top">
                <div id="menu">
                    <div class="nav-info">
                        <img src="../../assets/images/anh3.jpg" alt="ảnh đại diện">
                        <h2 class="name">Phúc Nguyễn</h2>
                        <h6 class="job">Fresher Front-end Developer</h6>
                    </div>
                    <!-- Begin nav -->
                    <ul class="nav flex-column">
                        <li class="nav-item active link disabled" id="home">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item  link" id="about">
                            <a class="nav-link" href="#">About Me</a>
                        </li>
                        <li class="nav-item link" id="resume">
                            <a class="nav-link" href="#">Resume</a>
                        </li>
                        <li class="nav-item link" id="portfolio">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item link" id="contact">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <!-- end nav -->
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-9 pr-0">
                <div class="content">
                    <!-- begin home -->
                    <div class="home" id="particles-js">
                        <div class="home__info"></div>
                    </div>
                    <!-- end home -->
                    <!-- begin about -->
                    <div class="about">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="title">
                                        <h4>About Me</h4>
                                    </div>
                                    <span class="details">Information</span>
                                </div>
                            </div>
                            <div class="row" id="about__inner">
                                <div class="col-6">
                                    <h4 class="about__ttl">Objectives</h4>
                                    <div class="objective">
                                        <h3>I am a Front-end developer</h3>
                                        <p>Desires employment as a Front-end Developer. Versed in the production of high quality solutions for the company’s clients; knowleadge understanding of Modern HTML, JavaScript, CSS, and software development, plus a very strong ability to execute.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 p-0 anhDaiDien">
                                            <img src="../../assets/images/anh3.jpg" alt="Anh dai dien">
                                        </div>
                                        <div class="col-6 statement p-0">
                                            <p>Life is 10% what happens to you and 90% how you react to it</p>
                                            <h6>__ Charles R.Swindoll __</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4 class="about__ttl">Infomation</h4>
                                    <div class="about__info">
                                        <table class="table__info">
                                            <tr>
                                                <td>
                                                    <i class="fa fa-user"></i> Full name:
                                                </td>
                                                <td>Phan Nguyen Hoai Phuc</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-calendar"></i> Birthday:
                                                </td>
                                                <td>16-03-1996</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-map-marker"></i> Address:
                                                </td>
                                                <td>Vuon Lai street, An Phu Dong, District 12</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-mobile"></i> Phone: </td>
                                                <td>(+84) 1644645682</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-envelope"></i> Email: </td>
                                                <td>phucpnh1603@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-flag"></i> Nationality:
                                                </td>
                                                <td>Vietnam</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <i class="fa fa-smile-o"></i>
                                                    <i class="fa fa-smile-o"></i>
                                                    <i class="fa fa-smile-o"></i>
                                                    <i class="fa fa-smile-o"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end about -->
                    <!-- begin resume -->
                    <div class="resume">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="title">
                                        <h4>Resume</h4>
                                    </div>
                                    <span class="details">Experience,Education,Skills</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="resume__ttl">Experience</h3>
                                    <div class="experience row mt-5 my-0 py-0">
                                        <div class="col-5 pl-0">
                                            <iframe width="380px" height="350px" src="https://www.youtube.com/embed/ustlFh-36_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                        <div class="col-7">
                                            <h4 class="text-success"> E-learning Full Javascript Ajax Management Project</h4>
                                            <div class="experience__item">
                                                <h6>What I Learn</h6>
                                                <ul>
                                                    <li>Mindset,analysis and solve problem</li>
                                                    <li>Create HTML dynamic elements by Javascript</li>
                                                    <li>Design E-learning Management page with UX/UI </li>
                                                    <li>Object,Prototype Javascript</li>
                                                </ul>
                                            </div>
                                            <hr class="bg-warning">
                                            <div class="experience__item">
                                                <h6>Technology I USED</h6>
                                                <ul>
                                                    <li>HTML & CSS/Bootstrap</li>
                                                    <li>Javascript/Jquery</li>
                                                    <li>Ajax</li>
                                                    <li>Hightcharts</li>
                                                    <li>Animation</li>
                                                </ul>
                                            </div>
                                            <hr class="bg-warning">
                                            <div class="experience__item">
                                                <h6>The Function Of Project</h6>
                                                <ul>
                                                    <li>Add, delete and edit Student</li>
                                                    <li>Add, delete and edit Course</li>
                                                    <li>Sign In, Sign Up</li>
                                                    <li>Adding course for students</li>
                                                </ul>
                                            </div>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="resume__ttl">Education</h3>
                                    <div class="education">
                                        <div class="education__item">
                                            <h6 class="education__item__year">
                                                3/2018
                                            </h6>
                                            <h5 class="education__item__major">
                                                front-end developer
                                                <i class="fa fa-book"></i>

                                            </h5>
                                            <p class="education__item__university">
                                                Cybersoft Academy
                                                <i class="fa fa-hospital-o"></i>
                                            </p>
                                            <p class="education__item__description">With more 5 month to learn Front-end at Cybersoft Academy. I have accumulated knowledge, skill and experience to become a front-end developer through the projects that I have made during my studies</p>
                                        </div>
                                    </div>
                                    <!-- end 1 item education -->
                                    <div class="education">
                                        <div class="education__item">
                                            <h6 class="education__item__year">
                                               2014 - 2018
                                            </h6>
                                            <h5 class="education__item__major">
                                                infomation Aussurance
                                                <i class="fa fa-book"></i>

                                            </h5>
                                            <p class="education__item__university">
                                                FPT University
                                                <i class="fa fa-hospital-o"></i>
                                            </p>
                                            <!-- <p class="education__item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, ipsa.</p> -->
                                        </div>
                                    </div>
                                    <!-- end 1 item education -->
                                </div>
                                <div class="col-6">
                                    <h3 class="resume__ttl">Skills</h3>
                                    <!-- begin resume__skill -->
                                    <div class="resume__skill">
                                        <div class="proSkills">
                                            <h5 class="text-right text-danger">Programming skills</h5>
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>HTML/HTML5</p>
                                                <p>80%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:80%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Css/Css3</p>
                                                <p>90%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:90%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Bootstrap</p>
                                                <p>90%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:90%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Javascript/TypeScript</p>
                                                <p>80%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:80%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>jquery</p>
                                                <p>90%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:90%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Ajax</p>
                                                <p>80%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:80%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Angular 5</p>
                                                <p>60%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:60%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                            <div class="skill__item">
                                                <p>Git/Github</p>
                                                <p>80%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:80%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                        </div>
                                    </div>
                                    <div class="resume__skill">
                                        <div class="proSkills">
                                            <h5 class="text-right text-danger">Other skills</h5>
                                            <!-- begin skill__item -->
                                            <div class="skill__item">
                                                <p>Time Management, Teamwork</p>
                                                <p>80%</p>
                                                <div class="skill">
                                                    <div class="skill__level" style='width:80%'>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end skill__item -->
                                        </div>
                                    </div>
                                    <!-- end resume__skill -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end resume -->
                    <!-- begin portfolio -->
                    <div class="portfolio">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="title">
                                        <h4>Portfolio</h4></div>
                                        <span class="details">My projects</span>
                                </div>
                                <div class="col-12 portfolio__lists">
                                    <div class="portfolio__lists__menu">
                                        <ul class="nav justify-content-end">
                                            <li class="nav-item disabled " data-fillter="all" id="all">
                                                <a class="nav-link all-hover active" href="#">All</a>
                                            </li>
                                            <li class="nav-item" data-fillter=".templates" id="templates">
                                                <a class="nav-link templates-hover" href="#">Templates</a>
                                            </li>
                                            <li class="nav-item" data-fillter=".project" id="project">
                                                <a class="nav-link project-hover" href="#">Project</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portfolio__lists__contents">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6 templates">
                                                    <figure class="imghvr-flip-vert">
                                                        <img src="../../assets/images/layout1/1.png" alt="">
                                                        <figcaption>
                                                            <h4 class="pb-3 text-warning">Layout 1</h4>
                                                            <h6>What I Learn</h6>
                                                            <hr class="bg-warning">
                                                            <ul>
                                                                <li>Mindset, analysis layout of a website</li>
                                                                <li>How to build a website from PSD file</li>
                                                                <li>Way to use HTML, CSS</li>
                                                                <li class="mt-5">
                                                                    <a href="../../assets/images/layout1/4.png" rel="layout1" class="layout">
                                                                        <button type="" class="btn btn-secondary btnPortfolio">View more</button>
                                                                    </a>
                                                                    <a href="../../assets/images/layout1/3.png" rel="layout1" class="layout"></a>
                                                                    <a href="../../assets/images/layout1/2.png" rel="layout1" class="layout"></a>
                                                                    <a href="../../assets/images/layout1/1.png" rel="layout1" class="layout"></a>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-6 templates">
                                                    <figure class="imghvr-flip-vert">
                                                        <img src="../../assets/images/layout2/1.png" alt="">
                                                        <figcaption>
                                                            <h4 class="pb-3 text-warning">Layout 2</h4>
                                                            <h6>What I Learn</h6>
                                                            <hr class="bg-warning">
                                                            <ul>
                                                                <li>Mindset, analysis layout of a website</li>
                                                                <li>How to build a website from PSD file</li>
                                                                <li>Way to use HTML5, CSS3</li>
                                                                <li class="mt-5">
                                                                    <a href="../../assets/images/layout2/4.png" rel="layout2" class="layout">
                                                                        <button type="" class="btn btn-secondary btnPortfolio">View more</button>
                                                                    </a>
                                                                    <a href="../../assets/images/layout2/3.png" rel="layout2" class="layout"></a>
                                                                    <a href="../../assets/images/layout2/2.png" rel="layout2" class="layout"></a>
                                                                    <a href="../../assets/images/layout2/1.png" rel="layout2" class="layout"></a>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-6 templates">
                                                    <figure class="imghvr-flip-vert">
                                                        <img src="../../assets/images/layout2/bootstrap1.png" alt="">
                                                        <figcaption>
                                                            <h4 class="pb-3 text-warning">Layout Bootstrap</h4>
                                                            <h6>What I Learn</h6>
                                                            <hr class="bg-warning">
                                                            <ul>
                                                                <li>Mindset, analysis layout of a website</li>
                                                                <li>Boostrap, Css3, Animtion, Sass</li>
                                                                <li class="mt-5">
                                                                    <a href="../../assets/images/layout2/bootstrap4.png" rel="layout3" class="layout">
                                                                        <button type="" class="btn btn-secondary btnPortfolio">View more</button>
                                                                    </a>
                                                                    <a href="../../assets/images/layout2/bootstrap3.png" rel="layout3" class="layout"></a>
                                                                    <a href="../../assets/images/layout2/bootstrap2.png" rel="layout3" class="layout"></a>
                                                                    <a href="../../assets/images/layout2/bootstrap1.png" rel="layout3" class="layout"></a>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-6 project">
                                                    <figure class="imghvr-flip-vert">
                                                        <img src="../../assets/images/layout2/uber.png" alt="">
                                                        <figcaption>
                                                            <h4 class="pb-3 text-warning">UberPay Management</h4>
                                                            <h6>What I Learn</h6>
                                                            <hr class="bg-warning">
                                                            <ul>
                                                                <li>How to use template, animation</li>
                                                                <li>Way to resolve a problem</li>
                                                                <li>Javascript, Javascript OOP, Jquery</li>
                                                                <li class="mt-5">
                                                                    <a href="../../assets/images/layout2/uber.png" rel="layout4" class="layout">
                                                                        <button type="" class="btn btn-secondary btnPortfolio">View more</button>
                                                                    </a>
                                                                    <a href="../../assets/images/layout2/uber2.png" rel="layout4" class="layout">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-6 project">
                                                    <figure class="imghvr-flip-vert">
                                                        <img src="../../assets/images/Project1/home.png" alt="">
                                                        <figcaption>
                                                            <h4 class="text-warning">E-learning Full Javascript Ajax Management Project </h4>
                                                            <h6>What I Learn</h6>
                                                            <hr class="bg-warning">
                                                            <ul>
                                                                <li>Mindset,UI/UX,analysis layout of a website</li>
                                                                <li>Js OOP, Jquery</li>
                                                                <li>AJAX/JSON,XML</li>
                                                                <li>Animation Css3, Animate</li>
                                                                <li class="mt-5">
                                                                    <a href="../../assets/images/Project1/home.png" rel="layout5" class="layout">
                                                                        <button type="" class="btn btn-secondary btnPortfolio">View more</button>
                                                                    </a>
                                                                    <a href="../../assets/images/Project1/course.png" rel="layout5" class="layout">
                                                                    </a>
                                                                    <a href="../../assets/images/Project1/info.png" rel="layout5" class="layout">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end portfolio -->
                    <!-- begin contact -->
                    <div class="contact">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="title">
                                        <h4>Contact</h4>
                                    </div>
                                    <span class="details">Get in touch with me</span>
                                </div>
                                <!-- <div class="contact__info"> -->
                                <div class="col-4">
                                    <div class="contact__info__item">
                                        <i class="fa fa-phone"></i>
                                        <p>(+84) 1644645682</p>
                                    </div>
                                    <!-- end contact__info__item -->
                                </div>
                                <div class="col-4">
                                    <div class="contact__info__item">
                                        <i class="fa fa-map-marker"></i>
                                        <p>District 12 - HoChiMinh City</p>
                                    </div>
                                    <!-- end contact__info__item -->
                                </div>
                                <div class="col-4">
                                    <div class="contact__info__item">
                                        <i class="fa fa-envelope"></i>
                                        <p>phucpnh1603@gmail.com</p>
                                    </div>
                                    <!-- end contact__info__item -->
                                </div>
                                <div class="col-12">
                                    <div id="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6590.09017439151!2d106.69144633458318!3d10.850205624848691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752846cfdde52d%3A0xf6b2710e4ffeb1a6!2zU2VudHVyaWEgVsaw4budbiBMw6Bp!5e0!3m2!1svi!2s!4v1534159875946" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <!-- end contact__info -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- end contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- <======================= JS ========================> -->
    <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ======================== library for text ======================== -->
    <script type="text/javascript" src="../../../node_modules/typed.js/lib/typed.min.js"></script>
    <!-- =========================== library fancybox ====================== -->
    <script type="text/javascript" src="../../../node_modules/fancybox/dist/js/jquery.fancybox.pack.js"></script>
    <!-- ============= library project portfolio ============== -->
    <script type="text/javascript" src="../../assets/lib/mixitup.min.js"></script>
    <!-- ================ libray canvas ================= -->
    <script type="text/javascript" src="../../assets/lib/particles.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
    <!-- ===================== Main Javascript =================== -->
    <script type="text/javascript" src="../../assets/js/index.js"></script>
</body>

</html>